
.blue {
  color: skyblue;
}
.pink {
  color:rgb(255, 192, 203) ;
}
.text-bold,p {
  font-size: 20px;
}
.decoration {
font-weight: bold;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
  border-bottom: solid 3px rgb(115, 115, 114);
  font-size: 40px;
  font-family: Josefin Sans;
  text-shadow:1px 2px 3px gray;
  letter-spacing: 48px;
}
body{
  text-align: center;
}
#basic {
  font-weight: bold;
}